.container {
 /* display: grid; */
 margin-left: 100px;
 margin-right: 100px;
}

.card{
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.card p{
    flex: 5;
    font-size: 18px;
    font-weight: 600;
}
.search{
    float: right;
    display: flex;
    /* flex: end; */
    height: 30px;
    width: 200px;
}
.searchBox{
    display: flex;
    justify-content: flex-end;
}